/***** Géneral *****/

* {
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    font-family: 'roboto', sans-serif;
}


a {
    color: inherit;
    text-decoration: none;
}

/***** header *****/

header {
    width: 100%;
    height: 100%;
    box-shadow: 0px 6px 13px -7px rgb(153, 153, 153);
    display: flex;
    justify-content: center;
}

header h1 img {
    margin: auto;
    height: 100%;
    width: 80%;
    padding: 16px;
}

